main {
    background-image: url("../assets/gallery/tv.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 8em;
    opacity: 80%;
}
main:hover {
    opacity: 100%;
}
h1 {
    font-style: italic;
    font-size: 5em;
    font-family: "Montserrat ExtraLight", sans-serif;
    background-color: var(--bg);
    display: inline-block;
    padding: 1em 1.5em;
    margin: 0.5em 0;
}
h3 {
    font-style: italic;
    background-color: var(--fg);
    color: var(--bg);
    display: inline-block;
    padding: 1em;
}
