#bio, #programming, #misc {
    /*background-color: var(--fg);*/
    /*color: var(--bg);*/
    padding: 5em 10em;
}
#bio {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#bio .profile {
    /*border-radius: 50%;*/
    max-height: 256px;
    max-width: 256px;
    /*border: solid var(--fg) 2px;*/
}
#bio h1 {
    background-color: var(--fg);
    color: var(--bg);
    /*background-color: var(--bg);*/
    /*color: var(--fg);*/
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 1em;

}
#programming {
    text-align: right;
    background-image: url("../assets/gallery/0059.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#programming section {
    float: left;
}
#programming section p {
    text-align: center;
    background-color: var(--fg);
    color: var(--bg);
    padding: .5em 1em;
}
#programming section .alt {
    background-color: var(--bg);
    color: var(--fg);
}
#programming table {
    background-color: var(--bg);
    opacity: 80%;
    padding: 2em;
}
#misc {
    text-align: justify;
}