#bio, #programming, #misc {
    /*background-color: var(--fg);*/
    /*color: var(--bg);*/
    padding: 5em 10em;
}
#bio {
    justify-content: center;
    align-items: center;
    align-self: center;
    /*background-color: #ffffff;*/
    /*background-image: url("../assets/images/pattern2.svg");*/
    /*background-size: contain;*/
    /*margin: 0 auto;*/
}
#bio .profile {
    /*border-radius: 50%;*/
    max-height: 256px;
    max-width: 256px;
    /*border: solid var(--fg) 2px;*/
}
#bio section {
    /*background-color: var(--bg);*/
    /*color: var(--fg);*/
    display: inline-block;
    margin: 1em;
}
#bio h1 {
    background-color: var(--fg);
    color: var(--bg);
    padding: 0.25em 0.5em;
}
#bio p {
    /*display: block;*/
    /*margin-left: 2em;*/
    font-style: italic;
    padding: .5em 1em;
    margin: 0.5em 0;
}
#programming {
    text-align: right;
    background-image: url("../assets/gallery/0059.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#programming section {
    float: left;
    background-color: var(--fg);
    color: var(--bg);
    opacity: 80%;
    padding: 1.5em;
    font-size: 16pt;
    text-align: justify;
    font-style: italic;
}
#programming table {
    background-color: var(--bg);
    opacity: 80%;
    padding: 2em;
}
#misc {
    text-align: center;
}
#misc ul {
    list-style: none;
    /*background-color: var(--fg);*/
    display: inline-block;
    margin: 0;
    padding: .5em 1em;
}
#misc li {
    display: inline-block;
    margin: 0 .5em;
}
#misc a {
    color: var(--accent);
}
#misc a:visited {
    color: #cccccc;
}