:root {
    --bg: #ffffff;
    --fg: #000000;
}
nav #logo img {
    filter: invert();
}
footer .social-icon {
    filter: none;
}
footer #socials li:hover .social-icon {
    filter: invert();
}
footer {
    opacity: 100%;
}
nav #themeToggle {
    filter: none;
}