:root {
    --bg: #ffffff;
    --fg: #000000;
    --accent: #41b2d5
}
nav #logo img {
    filter: invert();
}
footer .social-icon {
    filter: none;
}
footer #socials li:hover .social-icon {
    filter: invert();
}
footer {
    opacity: 100%;
}
nav #themeToggle {
    filter: none;
}
.light {
    display: revert;
}
.dark {
    display: none;
}
#akui {
    /*background-image: url("../assets/gallery/akui_light.png");*/
}