/* Defaults */
:root {

    /* Variables */
    --bg: #000;
    --fg: #fff;
    --transparent: rgba(0,0,0,0);

    /* Properties */
    background-color: var(--bg);
    color: var(--fg);
    font-family: "Open Sans", sans-serif;
}
::selection {
    color: var(--bg);
    background: var(--fg);
}
/* Fonts */
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("../assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat Light";
    src: local("Montserrat Light"), url("../assets/fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: "Montserrat ExtraLight";
    src: local("Montserrat Light"), url("../assets/fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), url("../assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto condensed";
    src: local("Roboto Condensed"), url("../assets/fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: "Roboto Light";
    src: local("Roboto Light"), url("../assets/fonts/Roboto-Light.ttf");
}

a {
    text-decoration: none;
    color: var(--fg);
}
table {
    display: inline-block;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}
td {
    padding: 0.5em 1em;
    font-size: x-large;
}
td:first-child {
    font-weight: bolder;
}
td:nth-child(2) {
    font-family: "Montserrat Light", sans-serif;
    font-style: italic;
}
table caption {
    font-size: xx-large;
}
progress[value] {
    appearance: none;
    height: 1em;
    border: none;
}
progress::-webkit-progress-bar, progress::-moz-progress-bar {
    background: linear-gradient(90deg, #57d6f3, #74dcd3);
}
hr {
    border: none;
    border-top: 1px solid rgba(0,0,0,0.25);
}

/* Nav */
nav {
    /*display: inline;*/
    user-select: none;
    background-color: var(--bg);
}
nav #logo {
    font-family: "Montserrat Light", sans-serif;
    font-size: 24pt;
    /*transition: opacity 200ms;*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .25em;
    margin-top: .25em;
}
/*nav #logo:hover {*/
/*    opacity: 50%;*/
/*    cursor: pointer;*/
/*}*/
nav #logo img {
    /*background-color: #00ff00;*/
}
nav #logo span {
    margin-left: .25em;
}
nav #navbar {
    list-style-type: none;
    float: right;
    margin-right: 2em;
    margin-top: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
nav #navbar li {
    display: inline;
}
nav #navbar .selected, nav a:hover {
    background-color: var(--fg);
    color: var(--bg);
}
nav #navbar a {
    padding: 0.5em 1em;
    border-radius: 2em;
    display: inline-block;
    transition: all 100ms;
    margin: 0 0.5em;
}
nav #themeToggle {
    display: inline-block;
    background-repeat: no-repeat;
    min-height: 24px;
    min-width: 24px;
    filter: invert();
    border: none;
    background-color: var(--transparent);
    transition: opacity 250ms;
    margin-left: 1em;
}
nav #themeToggle:hover {
    opacity: 50%;
}

/* Main */

/* Footer */
footer {
    /*position: absolute;*/
    width: 100%;
    bottom: 0;
    user-select: none;
    padding: 5em 0;
    opacity: 75%;
    transition: all 250ms;
}
footer:hover {
    opacity: 100%;
}
footer #socials {
    list-style-type: none;
    padding: 1em;
    display: inline-block;
}
footer #socials li {
    display: inline-block;
    padding: 1em;
    margin: 0 1em;
    background-color:  var(--transparent);
    border-radius: 4em;
    border: solid var(--fg) 2px;
    transition: all 250ms;
    opacity: 80%;
}
footer #socials li:hover {
    background-color: var(--fg);
    opacity: 100%;
}
footer #socials li:hover .social-icon {
    filter: none;
}
footer .social-icon {
    display: block;
    background-repeat: no-repeat;
    min-height: 32px;
    min-width: 32px;
    filter: invert();
}
footer #copyright {
    display: block;
    font-weight: lighter;
}
footer {
    display: block;
    text-align: center;
}
footer #madeWithLoveOrSomething {
    font-size: 8pt;
    /*font-style: italic;*/
}