.project-icon, #akootCoin img {
    max-height: 200px;
    max-width: 200px;
}
.light {
    display: none;
}
section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5em;
    margin: 0;
}
section h1 {
    background-color: var(--fg);
    color: var(--bg);
    padding: .25em .5em;
    display: inline-block;
    margin: .5em 0;
    font-size: 28pt;
}
section p {
    background-color: var(--bg);
    color: var(--fg);
    display: inline-block;
    padding: .25em .5em;
    margin: .25em 1em;
    font-size: 16pt;
}
section .alt {
    margin: .25em 3em;
}
#ultraVanilla {
    background-image: url("../assets/gallery/uv.png");
    text-align: left;
}
#cloud {
    /*background-image: url("../assets/gallery/cloud.akoot.me.png");*/
    text-align: right;
}
#akui {
    /*background-image: url("../assets/gallery/akui_dark.png");*/
    text-align: left;
}
#akootCoin {
    background-image: url("../assets/gallery/akc.png");
    text-align: left;
}
#untitledServer {
    text-align: right;

}